/* Start of CSS here!*/
@import url('nippo.css');
/*font-family: 'Nippo-Bold';*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap'); /*font-family: 'Space Grotesk', sans-serif;
*/

:root {
    --typography-base: 1rem; /* 1 rem is p */

    --typogaphy-h1: calc(4 * var(--typography-base)); /* article title */
    --typography-h2: calc(3 * var(--typography-base)); /*chapter title */
    --typography-h3: calc(4 * var(--typography-base)); /*chapter number*/
    --typography-blockquote: calc(3 * var(--typography-base)); /*blockquote*/
    --typography-a: calc(0.5 * var(--typography-base)); /* nav links */
    --typography-footerp: calc(0.8 *var(var(--typography-base)));

    --background-image: linear-gradient(rgb(1, 1, 213), rgb(0, 10, 87));

    --gutter: var(--typography-base);

}

@media screen {
    :root {
         --typography-base: 0.9rem;

        --typography-h1: calc(3.5 * var(--typography-base));
        --typography-h2: calc(1.5 * var(--typography-base));
        --typography-h3: calc(4 * var(--typography-base));
        --typography-blockquote: calc(2.2 * var(--typography-base));
        --typography-footerp: calc(0.8 * var(--typography-base));
        --typography-a: calc(0.9 * var(--typography-base));

        --gutter: var(--typography-base);
        }
    
    body > header {
        background-image: var(--background-image);
        color: white;
        padding-top: 30vh;
        padding-bottom: 30vh;
    }

    main, 
    footer {
        margin-left: calc(1.8 * var(--gutter));
        margin-right: calc(1.8 * var(--gutter));
    }

    aside {
        display: none;
    }

    h1 {
        font-size: var(--typography-h1); 
        line-height: calc(4 * var(--gutter));
    }

    hr {
        margin-top: calc(1 * var(--gutter));
        margin-bottom: calc(1 * var(--gutter));
    }

    h2 {
        font-size: var(--typography-h2);
    }

    h3 {
        font-size: var(--typography-h3);
    }

    blockquote {
        background: linear-gradient(rgb(51, 75, 255), rgb(0, 0, 0));
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
    }
    
    a:not([href^="#"]) {
        font-size: calc(1.1b *var(--typography-base));
    }

    blockquote {
        padding-top: calc(1.2 * var(--typography-blockquote));
        padding-bottom: var(--typography-blockquote);
        margin-left: var(--typography-blockquote);
        margin-right: var(--typography-blockquote);
    }

    blockquote > li {
        font-size: var(--typography-blockquote);
    }

    .source {
        font-size: calc(0.8 * var(--typography-base));
    }
    
    h3, 
    h2 > em {
        color: rgb(1, 1, 213);
    }
}

/* Mobile */
@media (min-width: 375px) {
    :root {
        --typography-base: 1rem;
    }

    header {
        padding-left: calc(2 * var(--gutter));
        padding-right: calc(2 * var(--gutter));
    }

    body > header {
		    background-image: var(--background-image);
            color: white;
            padding-top: 24vh;
            padding-bottom: 24vh;
        }

    h1 {
        font-size: var(--typography-h1);
        line-height: calc(4 * var(--gutter));
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main, 
    footer {
        margin-left: calc(1.5 * var(--gutter));
        margin-right: calc(1.5 * var(--gutter));
    }

    article,
    footer > p {
        width: 80%;
        margin-left: 20%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    article{
        float: right;
        top: 0;
    }

    .fullnav {
        display: none;
    }

    .shortnav {
        display: inline-block;
    }

    aside {
        position: sticky;
        float: left;
        display: inline-flex;
        max-width: 5%;
        margin-left: 0;
        top: 2em;
        height: 0; /*an anchor point for the nav, resets the height*/
    }

    button {
        padding-top: calc(0.3 * var(--gutter));
        padding-bottom: calc(0.3 * var(--gutter));
        padding-right: calc(0.3 * var(--gutter));
        padding-left: calc(0.3 * var(--gutter));
        margin-bottom: calc(0.8 * var(--gutter));
        min-width: 2.5em;
        border-radius: 8px;
        text-align: center;
    }


    hr {
        margin-top: calc(1 * var(--gutter));
        margin-bottom: calc(1 * var(--gutter));
    }

    /* chapter number*/
    h3 {
        font-size: var(--typography-h3);
    }

    blockquote {
        padding-top: calc(1.2 * var(--typography-blockquote));
        padding-bottom: var(--typography-blockquote);
        margin-left: var(--typography-blockquote);
        margin-right: var(--typography-blockquote);
    }

    blockquote > li {
        font-size: var(--typography-blockquote);
    }

    .source {
        font-size: calc(0.8 * var(--typography-base));
    }

    footer p {
        font-size: var(--typography-footerp);
        line-height: calc(1.3 * var(--gutter));
    }
}
/* end of media screen 375 */

@media (min-width: 500px) {
    :root {
        --typography-base: 1rem;
        --typography-a: calc(0.6 * var(--typography-base));
    }

    html {
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth; 
    }

    body > header {
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    h1 {
        font-size: calc(1.3 * var(--typography-h1)); 
        line-height: calc(5 * var(--gutter));
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    article{
        width: 80%;
        margin-left: 20%;
        float: right;
        top: 0;
    }

    .fullnav {
        display: none;
    }

    .shortnav {
        display: inline-block;
    }

    aside {
        position: sticky;
        float: left;
        display: inline-flex;
        max-width: 5%;
        margin-left: 3%;
        top: 2em;
        height: 0; /*an anchor point for the nav, resets the height*/
    }

    button {
        padding-top: calc(0.3 * var(--gutter));
        padding-bottom: calc(0.3 * var(--gutter));
        padding-right: calc(0.5 * var(--gutter));
        padding-left: calc(0.5 * var(--gutter));
        margin-bottom: calc(0.8 * var(--gutter));
        min-width: 3em;
        border-radius: 8px;
        text-align: center;
    }

    .arrow-top {
        padding-top: calc(0.3 * var(--gutter));
        padding-bottom: calc(0.3 * var(--gutter));
        padding-right: calc(0.5 * var(--gutter));
        padding-left: calc(0.5 * var(--gutter));
        margin-top: calc(0.4 * var(--gutter));
    }

    main, 
    footer {
        margin-left: calc(1.5 * var(--gutter));
        margin-right: calc(1.5 * var(--gutter));
    }
}

@media (min-width: 650px) {
    :root {
        --typography-base: 1.1rem;
        --typography-a: calc(0.9 * var(--typography-base));
    }

    body > header {
        padding-top: 16vh;
        padding-bottom: 16vh;
    }

    a {
        font-size: var(--typography-a);
    }

    h1 {
        font-size: calc(1.5 * var(--typography-h1)); 
        line-height: calc(6 * var(--gutter));
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    article{
        width: 80%;
        margin-left: 20%;
        float: right;
        top: 0;
    }

    footer > p {
      margin-left: 20%;
    } 

    .fullnav {
        display: none;
    }

    .shortnav {
        display: inline-block;
    }

    aside {
        position: sticky;
        float: left;
        display: inline-flex;
        max-width: 5%;
        margin-left: 2.5%;
        top: 2em;
        height: 0; /*an anchor point for the nav, resets the height*/
    }

    button {
        padding-right: calc(1.5 * var(--gutter));
        padding-left: calc(1.5 * var(--gutter));
    }

    button:hover {
        border: 1px;
    }

    .chapter {
        margin-top: calc(4 * var(--gutter));
    } 

    blockquote {
        padding-top: calc(2 * var(--typography-blockquote));
        padding-bottom: calc(1.5 * var(--typography-blockquote));
    }
}

@media (min-width: 900px) {
    :root {
        --typography-base: 1.2rem;
    }

    body > header {
        padding-top: 13vh;
        padding-bottom: 13vh;
    }

    h1 {
        font-size: calc(1.8 * var(--typography-h1)); 
        line-height: calc(7 * var(--gutter));
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    article {
        width: 50%;
        float: right;
        top: 0;
        margin-left: 50%;
    }

    .fullnav {
        display: inline-flex;
    }

    .shortnav {
        display: none;
    }

    aside {
        position: sticky;
        float: left;
        display: inline-flex;
        margin-left: 0%;
        top: 2em;
        height: 0; /*an anchor point for the nav, resets the height*/
    }

    button {
        padding-right: calc(0.7 * var(--gutter));
        padding-left: calc(0.7 * var(--gutter));
        min-width: 23em;
        border-radius: 8px;
        text-align: left;
        margin-bottom: calc(0.6 * var(--gutter));
    }

    footer > p {
        margin-left: 50%;
        width: 48%;
      } 
}

@media print {

    :root {
        --typography-base: 1rem;

        --typography-blockquote: calc(2.5 * var(--typography-base));
    }

    h1 {
        font-size: calc(6.5* var(--typography-base));
        line-height: calc(6 * var(--gutter));
    }

    body > header {
        padding-top: 25vh;
        padding-bottom: 25vh;
        /*///ASK FOR GRADIENT IN TEXT///*/
        background: linear-gradient(rgb(199, 199, 199), black);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        background-origin: content-box;
        background-repeat: no-repeat;
    }

    hr {
        padding: 0pt;
    }

    .author {
        width: 100%;
        justify-content: center;
        break-before:page;
    }

    .articlebutton {
        display: none;
    }

    .shortnav {
        display: none;
    }

    h2 {
        font-size: calc(1.3 * var(--typography-base));
    }

    blockquote {
        break-inside: avoid;
        background: linear-gradient(rgb(199, 199, 199), black);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        background-origin: content-box;
        background-repeat: no-repeat;
        padding: 5pt;
        margin-top: calc(3 * var(--gutter));
        margin-bottom: calc(3 * var(--gutter));
    }

    blockquote > li {
        font-size: var(--typography-blockquote);
    }

    .chapter {
        margin-top: var(--gutter);
        break-before: page;
    }

    h3, 
    h2 > em {
        color: rgb(175, 170, 170);
    }

    p > .author {
        page-break-inside: avoid;
    }

    p {
        margin-top: var(--gutter);
        font-size: var(--typography-base);
    }

    a:not([href^="#"]) {
        font-size: calc(1 * var(--typography-base));
    }

    footer p {
        font-size: calc(0.8 * var(--typography-base));
    }
}

@page {
	margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

/* START OF GENERAL CODE, APPLIES TO ALL! */

h1 {
    font-family: 'Space Grotesk', sans-serif;
}

h1 > li:nth-child(3) {
    text-align: right;
}

header > ol {
    display: flex;
    justify-content: center;
}

.author {
    width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* straight line across*/
hr :first-child {
    width:100vw; /*should take up the whole screen?*/
}

hr {
    display: block;
    height: 5px;
    border-top: 1px solid grey;
}

button {
    font-family: 'Roboto Mono';
    background: rgb(1, 1, 213);
    color: white;
    border: 1px  rgb(1, 1, 213);
}

button:hover {
    background: white;
    border-color: rgb(1, 1, 213);
    border-style: solid;
    color: rgb(1, 1, 213); 
}

.chapter {
    margin-top: calc(2.5 * var(--gutter));
}

h2 {
    font-family: 'Roboto Mono', monospace;
    /*font-size: var(--typography-h2);*/
    padding-bottom: calc(1 * var(--gutter));
}

/* chapter number */
h3 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
}

/* body text*/
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: var(--typography-base);
    line-height: calc(1.5 * var(--gutter));
}

p:not([class^="intro"]) {
    padding-top: calc(1 * var(--gutter));
}

.intro {
    padding-top: 0.1em;
}

/* links in body */
a:not([href^="#"]) {
    color: black;
    font-family: 'Times New Roman';
    font-style: italic;
}

a:not([href^="#"]):hover{
    color: rgb(1, 1, 213);
}

/*start of blockquote styling*/
blockquote {
    font-family: 'Times New Roman';
}

blockquote :first-child {
    padding-top: 0;
}

ol {
    display: flex;
    justify-content: center;
}

li:nth-child(1),
li:nth-child(3) {
     text-align: left;
}

li:nth-child(4),
li:nth-child(5),
li:nth-child(7) {
    text-align: center;
}

li:nth-child(2),
li:nth-child(6),
li:nth-child(8),
li:nth-child(9) {
    text-align: right;
}

li:last-child {
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Mono';
}

/*end of blockquote styling*/

footer {
    margin-top: calc(4 * var(--gutter));
    margin-bottom: calc(2 * var(--gutter));
}

footer p {
    font-family: 'Roboto Mono';
    color: rgb(116, 115, 115);
}