/* Start of CSS here! */
@import url('nippo.css'); /*font-family: 'Nippo-Bold';*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); /*font-family: 'Roboto Mono', monospace; */
@import url("https://use.typekit.net/ril2vdl.css"); /*font-family: "neue-haas-grotesk-text"*/

body {
    color: white;
    background-image: linear-gradient(rgb(1, 1, 213), rgb(179, 202, 244));
    background-attachment: fixed;
}

h1 {
    font-family: 'Nippo';
    font-size: 6rem;
    padding-bottom: 50px;
}

.letters {
    color: rgb(1, 1, 213);
}

.author {
    font-family: 'Roboto Mono';
    margin-left: 100px;
    margin-right: 100px;
}

.nav {
    font-family: 'Roboto Mono';
    margin-left: 100px;
    margin-right: 100px;
}

.chapter {
    font-family: 'Roboto Mono';
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

blockquote {
    font-family: 'Nippo';
    font-size: 3.5rem;
    padding-top: 100px;
    padding-bottom: 100px;
}

h2 {
    font-family: 'Roboto Mono';
    font-size: 2.2rem;
    padding-top: 80px;
    padding-bottom: 50px;
}

p {
    font-family: "neue-haas-grotesk-text";
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 30px;
}

a:not([href^="#"]){ 
    font-family: 'Times New Roman';
    font-size: 1.6rem;
    font-style: italic;
    text-decoration: underline;
}

.source {
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
}

footer p {
    font-family: 'Roboto Mono';
    font-size: 1rem;
}

footer {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

